<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>

<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false; changeEventList()">
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="changeEventList()">
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false; changeEventList()">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="view = CalendarView.Month; changeEventList()"
        [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="view = CalendarView.Week; changeEventList()"
        [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="view = CalendarView.Day; changeEventList()"
        [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
</div>
<br>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="7"
    [dayEndHour]="23"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="7"
    [dayEndHour]="23"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<br><br><br>

<h3>
  Edit Events
  <button
    class="btn btn-primary pull-right"
    (click)="addNormalEvent()">
    Add New
  </button>
  <div class="clearfix"></div>
</h3>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>Title</th>
      <th>Primary Color</th>
      <th>Secondary Color</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let normalEvent of eventsFromNormal; let index = index">
      <td>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="normalEvent.title"
          (keyup)="refresh.next()">
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="normalEvent.color.primary"
          (change)="refresh.next()">
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="normalEvent.color.secondary"
          (change)="refresh.next()">
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="normalEvent.start"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set">
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="normalEvent.end"
          (ngModelChange)="refresh.next()"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set">
      </td>
      <td>
        <button
          class="btn btn-danger"
          (click)="eventsFromNormal.splice(index, 1); eventUpdate(); refresh.next()">
          Delete
        </button>
      </td>
    </tr>
  </tbody>

</table>

<h3>
    <button
      class="btn btn-primary pull-right"
      (click)="addRecurringEvent()">
      Add Recurring
    </button>
    <button
      class="btn btn-secondary pull-right"
      (click)="reCalRecurringEvents(); refresh.next()">
      Confirm
    </button>
    <div class="clearfix"></div>
</h3>

<table class="table table-bordered">

    <thead>
      <tr>
        <th>Title</th>
        <th>Primary color</th>
        <th>Secondary color</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Recurring Frequency</th>
        <th>Remove</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let recurringEvent of recurringEvents; let index = index">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="recurringEvent.title"
            (keyup)="refresh.next()">
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="recurringEvent.color.primary"
            (change)="refresh.next()">
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="recurringEvent.color.secondary"
            (change)="refresh.next()">
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="recurringEvent.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set">
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="recurringEvent.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set">
        </td>
        <td>
            <div class="row">
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" (click)="recurringEvent.by='week'">By Week</button>
                      <button class="dropdown-item" (click)="recurringEvent.by='month'">By Month</button>
                      <button class="dropdown-item" (click)="recurringEvent.by='day'">By Day</button>
                    </div>
                  </div>
                </div>
                </div>
        </td>
        <td>
          <button
            class="btn btn-danger"
            (click)="recurringEvents.splice(index, 1); reCalRecurringEvents(); refresh.next()">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  
  </table>
